@import "mixins";


.cards {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333333;
  border-radius: 5px;
  -webkit-box-shadow: 10px 7px 17px 0 rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 10px 7px 17px 0 rgba(0, 0, 0, 0.50);
  box-shadow: 10px 7px 17px 0 rgba(0, 0, 0, 0.50);

  &:nth-child(odd) {
    background-color: rgba(34, 34, 34, 0.75);
    border-style: solid;
    border-color: rgba(0, 0, 0, .01);
    border-radius: 1.5rem;
  }

  &__img {
    display: block;
    text-align: center;
    height: 300px;

    img {
      border-radius: 1.5rem;
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.75rem, 1fr));
    @include mq("phablet", "max") {
      grid-template-columns: 1fr;
    }
  ;
    grid-gap: 1rem;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    padding: 10px;
    margin: 3rem 0
  }

  &__content {
    grid-template-areas:
    "card-title"
    "card-text"
    "card-footer";
    color: white;
    text-transform: none;
    text-align: center;
    margin-top: 2rem;

    .cards__title {
      grid-area: card-title;
      padding: 0 3rem;
    }

    .cards__text {
      grid-area: card-text;
      text-align: left;
      padding: 0 1rem;
      font-weight: normal;
    }

    .cards__footer {
      grid-area: card-footer;
    }
  }
}


.span-2 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-4 {
  grid-column-end: span 3;
  grid-row-end: span 2;
}