.title {
  font-family: 'Quicksand', sans-serif;
  color: #222222;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-bottom: 5px;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.sub-title {
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  text-transform: none;
}